<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>Document</title>
</head>
<body class="body">

<nav class="navbar navbar-expand-lg navbar-light bg-light border">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="logout($event)">Выход <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<!--<div class="sidenav">-->
<!--  <a href="#about">About</a>-->
<!--  <a href="#services">Services</a>-->
<!--  <a href="#clients">Clients</a>-->
<!--  <a href="#contact">Contact</a>-->
<!--</div>-->

<main class="main">

  <router-outlet></router-outlet>

</main>


</body>
</html>

