<form class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
           formControlName="email"
           class="form-control"
           id="email" aria-describedby="email">
    <div
      *ngIf="form.get('email').invalid && form.get('email').touched">
      <span *ngIf="form.get('email').errors['required']">Обязателное поле</span>
      <span *ngIf="form.get('email').errors['email']">Введите корректный email</span>
    </div>

  </div>

  <div class="form-group">
    <label for="email">Name</label>
    <input type="text"
           formControlName="name"
           class="form-control"
           id="name" aria-describedby="name">
    <div
      *ngIf="form.get('email').invalid && form.get('email').touched">
      <span *ngIf="form.get('email').errors['required']">Обязателное поле</span>
      <span *ngIf="form.get('email').errors['email']">Введите корректный email</span>
    </div>

  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           formControlName="password"
           class="form-control"
           id="password">
    <div
      *ngIf="form.get('password').invalid && form.get('email').touched">
      <span *ngIf="form.get('password').errors['required']">Обязателное поле</span>
      <span
        *ngIf="form.get('password').errors['minlength'] && form.get('password').errors['minlength']['requiredLength']">
        Минимум {{form.get('password').errors['minlength']['requiredLength']}} символа
        Сейчас {{form.get('password').errors['minlength']['actualLength']}}
      </span>
    </div>
  </div>

  <button type="submit"
          [disabled]="form.invalid || form.disabled"
          class="btn btn-primary uniqueBtn">
    Зарегистрироваться
  </button>

</form>
